<h1>Orders</h1>
<table class="table">
    <thead>
        <th>Placed at</th>
        <th>Items</th>
    </thead>
    <tbody>
        {{#each data}}
        <tr>
            <td>
                {{this.placedAt}}
            </td>
            <td>
                <table class="table">
                    <thead>
            <th>Name</th>
            <th>Count</th>
            <th>Price(each)</th>
            <th>Price(total)</th>
            </thead>
    <tbody>
        {{#each this.items}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.count}}</td>
            <td>{{this.price}}</td>
            <td>{{this.totalPrice}}</td>
        </tr>
        {{/each}}
        <tr>
            <td>
                <strong>Total: {{this.sumPrice}}</strong>
            </td>
        </tr>
    </tbody>
</table>
</td>
</tr>
{{/each}}
</tbody>
</table>