<h1>Home</h1>
<table class="table">
    <thead>
        <th>Name</th>
        <th>Description</th>
        <th>Category</th>
        <th>Price</th>
        <th>Spicy</th>
        <th>Vegetarian</th>
        <th></th>
    </thead>
    <tbody>
        {{#each data}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.description}}</td>
                <td>{{this.category}}</td>
                <td>{{this.price}}</td>
                <td>{{this.spicy}}</td>
                <td>{{this.vegetarian}}</td>
                <td><a href="#" rel="{{this._id}}" id="addToCartButton">Add to cart</a></td>
            </tr>
        {{/each}}
    </tbody>
</table>