body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.float-right {
    float: right !important;
}

.m-1 {
    margin: 1rem;
}

.m-2 {
    margin: 2rem;
}

.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 2rem;
}

.m-l-1 {
    margin-left: 1rem;
}

.m-t-2 {
    margin-top: 2rem;
}

.m-l-2 {
    margin-left: 2rem;
}

.m-r-2 {
    margin-right: 2rem;
}

.m-b-2 {
    margin-bottom: 2rem;
}
.m-t-2 {
    margin-top: 2rem;
}
.p-b-2 {
    padding-bottom: 2rem;
}

.p-2 {
    padding: 2rem 2rem 2rem 2rem;
}
.m-2 {
    margin: 2rem 2rem 2rem 2rem;
}
