{{#if email}}
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="/account/manage/index" title="Manage">Hello, {{email}}</a>
        </li>
        <li>
            <a href="/account/logout">Logout</a>
        </li>
    </ul>
{{else}}
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/account/register">Resgister</a></li>
        <li><a href="/account/login">Login</a></li>
    </ul>
{{/if}}