<h2>Login</h2>
<div class="row">
    <div class="col-md-4">
        <section>
            <form method="POST" action="/account/login">
                <h4>Use your account to log in.</h4>
                <hr />
                <div class="form-group">
                    <label for="inputEmail">Email</label>
                    <input for="inputEmail" type="email" class="form-control" name="email"/>
                </div>
                <div class="form-group">
                    <label for="inputPassword">Password</label>
                    <input for="inputPassword" type="password" class="form-control" name="password" />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Log in</button>
                </div>
            </form>
        </section>
    </div>
</div>