<h2>Register</h2>

<div class="row">
    <div class="col-md-4" >
        <form method="POST" action="/account/register">
            <h4>Create a new account</h4>
            <hr />
            <div class="form-group">
                <label for="inputEmail" >Email</label>
                <input for="inputEmail" class="form-control" type="email" name="email"/>
            </div>
            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input for="inputPassword" class="form-control" type="password" name="password"/>
            </div>
            <dic class="form-group">
                <input type="submit" class="btn btn-primary float-right" value="Register"/>
            </dic>
        </form>
    </div>
</div>