<h1 id="cartList">Shopping cart</h1>
<table class="table">
    <thead>
        <th>Item name</th>
        <th>Count</th>
        <th>Price(each)</th>
        <th>Price(total)</th>
        <th></th>
    </thead>
    <tbody>
        {{#each data}}
        <tr id="{{this._id}}">
            <td>
                {{this.name}}
            </td>
            <td id="count">
                {{this.count}}
            </td>
            <td>
                {{this.price}}
            </td>
            <td id="total">
                {{this.totalPrice}}
            </td>
            <td>
                <a href="#" class="linkdeleteitem" rel="{{this._id}}">Remove</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
<div class="row">
    <button class="btn btn-primary float-right m-l-1" id="placeOrderButton">Order</button>
    <a class="btn btn-danger float-right m-l-1" id="emptyCartButton" href="/emptyCart">Empty cart</a>
    <p id="sumPrice"class="float-right m-1">Sum price: {{sumPrice}}</p>
</div>